#ed-lenses-main {
    width: 730px;
    min-height: 600px;
    /*background-color: gray;*/
    margin: 20px 0;
}

#ed-lenses-display{
    width: 710px;
    min-height: 580px;   
    /*background-color: green;*/
    margin: 40px 10px;
   display: none;
}

.ui-dialog-content p{
	margin: 10px;
}

.crossDiv {
	display: inline-block;
	margin: 10px;
	width: 150px;
	height: 200px;
	vertical-align: top;
}

#ed-lenses-directions p {
 	margin-bottom: 20px;
}

#ed-lenses-directions img {
 	margin-left: 30px;
}