.t3-wrapper {
	background: url(../images/gray_bkgd.jpg) repeat 0 0 scroll transparent;
	padding-top: 20px;
}
.t3-wrapper .container {
	background: #FFFFFF;
}

.custom_topsearch {
  position: absolute;
  width: 50%;
  top: 40px
}
.custom_topsearch > form {
	font-size: 12px;
	text-align: center;
	width: 100%;
}
.custom_topsearch > form input {
  width: 100%;
  left: 0;
}
#form-login-username, #form-login-password {
  float: left;
  margin-left: 3%;
  width: 47%;
}
#form-login-remember {
  clear: left;
  float: left;
  width: 120px;
  margin-left: 140px;
}
#login-form .btn-primary {
	padding: 4px 7px;
}
#login-form .form-group {
	margin-bottom: 5px;
}
#login-form .checkbox {
	margin-bottom: 0;
}
.control-group {
  clear: right;
  float: left;
  margin-bottom: 5px;
  width: auto;
}
.logo-img {
  position: relative;
  z-index: 100;
}
.logo {
	padding-left: 30px;
}
.navbar {
	min-height: initial;
	border: none;
}
.navbar-nav {
	margin-left: 200px;	
}
.nav-stacked > li {
	margin-bottom: 4px;
}
.nav-stacked > li > a {
	padding: 0 5px;
}
.nav-stacked > li > a:hover, .nav-stacked > li > a:focus {
  padding: 0 5px;
}

.module_calcs .module-title {
  background: url(../images/quick-calc.gif) no-repeat scroll left center #616161;
  font-size: 18px;
  margin: 0 0 10px;
  padding: 10px;
  text-align: center;
}
.module_calcs .module-inner {
  background: #616161;
}
.module_calcs .module-ct {
	padding: 0;
}
.module_calcs #vidPane {display: none;}
.custom_calcs p {
	
}
.custom_calcs a {
	text-transform: none;
	color: #2699b6;
}
#epocrates_url {
	width: 75%;
	float: left;
}
#epocratesGo {
	border: 1px solid #cccccc;
	border-radius: 5px;
	display: block;
	font-size: 14px;
	height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
	width: 25%;
}
div#b2jcontainer_c29.b2jcontainer {
	border: none;
}
.b2jcontainer h2 {
	background: none;
	color: #000000;
	margin-bottom: 0;
}
.t3-logo {
	display: none;
}
.t3-copyright .container {
	background: url("../images/footer.jpg") repeat scroll 0 0 #ffffff;
	border-left: 2px solid #565f64;
	border-right: 2px solid #565f64;
	border-bottom: 2px solid #565f64;
	padding: 15px;
}
.t3-copyright .pull-right {
	margin-right: 15px;
}

#plaquenilDaily {
	padding: 2em;
}

#plaquenilCum {
	padding: 2em;
}

.head-search form{
	text-align: right;
}

#form-login-remember{
	text-align: left;
}
